In [6]:
import pandas as pd
# Load the files
items_df = pd.read_csv('items.csv')
sales_train_df = pd.read_csv('sales_train.csv')

In [7]:
# Filter the data to include only rows with date_block_num between 0 and 25
filtered_sales_train_df = sales_train_df[(sales_train_df['date_block_num'] >= 0) & (sales_train_df['date_block_num'] <= 33)]

# Merge the files on 'item_id'
merged_df = filtered_sales_train_df.merge(items_df[['item_id', 'item_category_id']], on='item_id', how='left')

# Add a new column for item_sales_day by multiplying item_price and item_cnt_day
merged_df['item_sales_day'] = merged_df['item_price'] * merged_df['item_cnt_day']

# Keep time data and aggregate the sales data by item_category_id, shop_id, and date_block_num
category_sales_df = merged_df.groupby(['item_category_id', 'shop_id', 'date_block_num']).agg({'item_sales_day': 'sum'}).reset_index()
category_sales_df = category_sales_df[(category_sales_df['item_category_id'] == 2)]

# Save the category sales DataFrame to a new CSV file
category_sales_df.to_csv('category_sales_by_shop_and_date_block.csv', index=False)

# Display the first few rows of the category sales DataFrame
category_sales_df.head()

   item_category_id  shop_id  date_block_num  item_sales_day
5                 2        0               0        99380.00
6                 2        0               1        87187.00
7                 2        1               0        68020.00
8                 2        1               1        45301.00
9                 2        2               0        49090.81

In [169]:
# Check for missing values in date_block_num after 25
missing_data = sales_train_df[sales_train_df['date_block_num'] > 32]
missing_by_shop = missing_data.groupby('shop_id').size()


# Display the missing values by shop_id
print(missing_by_shop)

shop_id
2      642
3      547
4      705
5      965
6     1531
7     1070
9      845
10     392
12    1069
14     867
15    1123
16     863
18    1035
19    1302
20     847
21    1567
22    1061
24    1065
25    4655
26    1122
28    2512
31    4857
34     340
35    1264
36     306
37     657
38     965
39     695
41     692
42    3110
44     724
45     624
46    1154
47    1471
48     986
49     621
50     843
52     786
53     943
55    1374
56    1165
57    2095
58    1328
59     729
dtype: int64